{% extends 'base.html' %}


{% block title %}
    Add new article
{% endblock %}


{% block content %}

    {% if object_list %}
        <h1>Articles:</h1>
        {% for object in object_list %}
            <h3>{{ object.title }}</h3>
            <p>{{ object.text }}</p>
            <p style="color: grey">{{ object.pub_date }}</p>
        {% endfor %}
    {% else %}
        <h3>No articles</h3>
    {% endif %}

    <button>
        <a href="{% url 'articles:create_article' %}">Create new article</a>
    </button>
    
{% endblock %}
