<!DOCTYPE html>
<html lang="en">
<head>
 
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title></title>
</head>
<body>

{% if object_list %}
    <h1>Articles:</h1>
    {% for object in object_list %}
        <h3>{{ object.title }}</h3>
        <p>{{ object.text }}</p>
        <p style="color: grey">{{ object.pub_date }}</p>
    {% endfor %}
{% else %}
    <h3>No articles</h3>
{% endif %}

</body>
</html>